body {
  font-family: arial, sans-serif;
}
h1 {
  line-height: 28px;
  font-weight: bold;
  margin-top: 10px;
}
ul {
  padding: 0;
  margin-left: 6px;
}
li {
  padding: 0;
  margin-left: 6x;
  list-style: none;
  line-height: 20px;
  color: #878787;
}
img {
  position: relative;
  margin-top: -30px;
}
.weather-temperature strong {
  font-size: 44px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  max-width: 600px;
}
.overview {
  margin-bottom: 30px;
}
.weather-temperature .units {
  position: relative;
  font-size: smaller;
  top: -30px;
}
.weather-temperature .units .to-celcius {
  text-decoration: none;
  color: black;
  cursor: default;
}
.weather-temperature .units .to-celcius:hover {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
.weather-temperature .units .to-farenheit {
  text-decoration: none;
  color: black;
  cursor: default;
}
.weather-temperature .units .to-farenheit:hover {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
.form-control {
  margin-bottom: 10px;
}
li::first-letter {
  text-transform: capitalize;
}
